MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

DB_CONNECTION=Server=db;Port=3306;Database=flightscan_db;User=root;Password=;

JWT_KEY=
JWT_ISSUER=FlightScan
JWT_EXPIRATION_HOURS=8

SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
